@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /*background variables*/
    --light_Background: white;
    --dark_Background: #003147;

    /*font variables*/
    --light_Font_Color: white;
    --dark_Font_Color: #03a9f4;
    --black_Font_Color: #003147;
    --nomal_Font_Color: #333;
    --gray_Font_Color: #848c90;

    /*icon variables*/
    --icon_Color: #03a9f4;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: var(--light_Background);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_Side {
    position: relative;
    background: var(--dark_Background);
    padding: 40px;
}

.profile_Text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profile_Text .img_Box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_Text .img_Box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_Text h2 {
    color: var(--light_Font_Color);
    font-size: 2.0em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile_Text h2 span {
    font-size: 0.7em;
    font-weight: 300;
}

.contact_Info {
    margin-top: 40px;
}

.title {
    color: var(--light_Font_Color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact_Info ul {
    position: relative;
}

.contact_Info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contact_Info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 10px;
    color: var(--icon_Color);
}

.contact_Info ul li span {
    color: var(--light_Font_Color);
    font-weight: 300;
}

.contact_Info ul li span {
    color: var(--light_Font_Color);
    font-weight: 300;
}

.contact_Info.education li {
    margin-bottom: 15px;
}

.contact_Info.education h5 {
    color: var(--dark_Font_Color);
    font-weight: 500;
}

.contact_Info.education h4:nth-child(2) {
    color: var(--light_Font_Color);
    font-weight: 500;
}

.contact_Info.education h4 {
    color: var(--light_Font_Color);
    font-weight: 300;
}

.contact_Info.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contact_Info.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--icon_Color);
}

.container .right_Side{
    position: relative;
    background: var(--light_Background);
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: var(--black_Font_Color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: var(--nomal_Font_Color);
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
}

.about .box .year_Company {
    min-width: 150px;
}

.about .box .year_Company h5 {
    text-transform: uppercase;
    color: var(--gray_Font_Color);
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: var(--dark_Font_Color);
    font-size: 16px;
}

.about .box .text p {
    word-break: break-word;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: var(--gray_Font_Color);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--icon_Color);
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: var(--nomal_Font_Color);
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li i {
    margin-right: 10px;
}

.interest ul li .fas {
    color: var(--icon_Color);
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .container .left_Side,
    .container .right_Side {
        width: 100vw;
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .year_Company {
        min-width: 150px;
        margin-bottom: 5px;
    }
    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}